<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
    <body>
        <p>
            ejs file added yaayyy!
            Controllers and routes are also running well!
        </p>
    </body>
</html>