<html>
    <head>
        <title>
            Posts page
        </title>
    </head>
    <body>
        It be pretty cool if someone like created a website for me on my birthday ;)
    </body>
</html>